# игнорирование нод-модулей
/"здесь имя папки где находится локально гит"/node_modules/
# игнор. файлов с расширением .log
/"здесь имя папки где находится локально гит"/*.log
# игнор. файлов с расш. *.json 
/"здесь имя папки где находится локально гит"/*.json